<a href="https://colab.research.google.com/github/Emmanuelmitra/enumerate-function-in-python-/blob/main/enumerate_function_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# enumerate function in python

Using the enumerate() Function
Instead of using the range() function, we can instead use the built-in enumerate() function in python. enumerate() allows us to iterate through a sequence but it keeps track of both the index and the element.
enumerate(iterable, start=0)
The enumerate() function takes in an iterable as an argument, such as a list, string, tuple, or dictionary. In addition, it can also take in an optional argument, start, which specifies the number we want the count to start at (the default is 0).

In [7]:
l=['emmanuel','simon','hero','superman','spyderman','zerp']

In [12]:
#1. how to enumerate works 
for i in enumerate(l):
  print(i)

(0, 'emmanuel')
(1, 'simon')
(2, 'hero')
(3, 'superman')
(4, 'spyderman')
(5, 'zerp')

In [16]:
#2. how to get index and values of keys from list 
for i,j in enumerate(l):
  print(i,j)

0 emmanuel
1 simon
2 hero
3 superman
4 spyderman
5 zerp

In [17]:
#3. how to get indexes of elements in list 
for i,j in enumerate(l):
  print(i)

0
1
2
3
4
5

In [18]:
# 3 how to get only values from list 
for i, j in enumerate(l):
  print(j)

emmanuel
simon
hero
superman
spyderman
zerp

In [28]:
#4 how to get values above 3 index
for i,j in enumerate(l):
  if i>3:
    print(i,j)

4 spyderman
5 zerp

In [30]:
# 5
for i,j in enumerate(l):
  if i>2:
    print(i,j)

3 superman
4 spyderman
5 zerp

In [33]:
#6 how to get index and values of perticular item from list 
for i,j in enumerate(l):
  if j=='emmanuel':
    print(i,j)

0 emmanuel

In [34]:
l

['emmanuel', 'simon', 'hero', 'superman', 'spyderman', 'zerp']

## enumerate with tuples

In [39]:
t=('superman','spyderman','hero','zero','thanos','thar')

In [40]:
#1
for i in enumerate(t):
  print(i)

(0, 'superman')
(1, 'spyderman')
(2, 'hero')
(3, 'zero')
(4, 'thanos')
(5, 'thar')

In [42]:
#2
for i,j in enumerate(t):
  print(i)

0
1
2
3
4
5

In [44]:
# 3
for i,j in enumerate(t):
  print(j)

superman
spyderman
hero
zero
thanos
thar

In [45]:
# 4
for i, j in enumerate(t):
  if i>3:
    print(i,j)

4 thanos
5 thar

In [46]:
# 5
for i, j in enumerate(t):
  if i>0:
    print(j)

spyderman
hero
zero
thanos
thar